.search-form {
  display: flex;
  border-bottom: 1px solid var(--brand-color_9);
  justify-content: center;
  padding-bottom: 45px;
  scale: 1.0;
}



.input-search {
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 2px solid var(--brand-color_9);
  font-size: 14px;
  padding-left: 15px;
  line-height: 30px;
  margin-right: -2px;
}

.input-search:focus {
  outline: none;
}

.select-rate {
  border: 2px solid var(--brand-color_9);
  border-radius: 0px;
  font-size: 14px;
  margin-right: -3px;
  width: 75px;
  cursor: pointer;
}

.select-rate:focus {
  outline: none;
}

@media screen and (max-width: 428px) {

  .input-search,
  .select-rate {
    font-size: 12px;
  }

}