.App {
  text-align: center;
}

.App-title {
  color: #5d33ff;
  font-size:xx-large;
  font-weight: normal;
  margin-bottom: 2%;
  
}

.App-content {
  background-color: #ff822e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  padding: 16px;
  text-align: left;
}

.App-logo {
  display: flex;
  align-items: center;
  background-position: top center;
  color: black;
  margin: 10px;
  border-color: #5d33ff;
  border-style: groove;
}

.btn[disabled] {
  opacity: 0.3;
  pointer-events: none; /*To avoid multiple clicks*/
}

h3 {
  color: #5d33ff;
  font-weight: normal;
}