* {
  font-family: 'Courier New', Courier, monospace;
}

.App {
  text-align: center;
}

.App-title {
  color: white;
  font-size: xx-large;
  font-weight: 200;
  margin-top: 40px;
  margin-bottom: 2%;

}

.App-content {
  background-color: var(--brand-color_8);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  padding: 16px;
  text-align: left;
}


.App-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.App-logo-title {
  color: var(--brand-color_9);
  font-weight: 600;
  font-size: 40px;
}

@media screen and (max-width: 428px) {
  body {
    background-color: var(--brand-color_8);
  }

  .App-logo-title {
    font-size: 30px;
  }
}

.App-logo-img {
  height: 100px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--brand-color_9);
  margin-top: 85px;
}

.btn {
  font-size: 2rem;
}

.btn[disabled] {
  opacity: 0.3;
  pointer-events: none;
  /*To avoid multiple clicks*/
}